 body{
     background: white;
     color: black;
     font-family: Poppins;
 }
 .header{
     color: white;
     background: url(https://images.unsplash.com/photo-1570641192332-0f12b09bda68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-position: center;
 object-fit: cover;
    }
 /*Navigation*/
 .top{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
   
 }
 .brand{
font-family: 'Grenze Gotisch', cursive;
font-size: 34px;
 }
 .brand span{
     color: #D40072;;
 }
 #link{
   width: 100%;
 }
 #link a{
       margin-top: 15px;
 }
 .links a{
     color: #007bff;
     font-family: Poppins;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 18px;
 
 }
  #button {
     font-family: Poppins;
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
 line-height: 27px;
 color: #07031A;
 flex: none;
 order: 0;
 align-self: center;
 margin: 0px 10px;
  padding: 0.5rem; 
 border: none;
 background: #00BCD4;
 border-radius: 50px;
 
   }
   #button:hover{
       background: rgb(251, 173, 109);
   }
 i.toggle{
     color:#D40072;
 }
 div.links a{
     display: block;
     margin-bottom: 1.5rem;
 }
 .top div.links{
     margin-top: 2rem;
     font-size: 0.8rem;
     width: 100%;
 }
 .hide{
    display: none;
 }
 
 @media only screen and (min-width: 992px) {
     i.toggle{
         display: none;
     }
     .top{
         flex-direction: row;
         padding: 0.3rem 3rem;
     }
     .top div.links{
         display: flex;
         margin-bottom: 0;
         margin-left: auto;
         width: 35%;
         font-size: 0.8rem;
         justify-content: space-between;
     }
 }

 .header-text{
margin-top: 7rem;
margin-left: 4rem;
max-width: 700px;
text-align: center;
 }
 .header-text h6{
     margin-bottom: 1rem;
 }
 .header-text h1{
    margin-bottom: 1rem;
    border-top: 1px solid #007bff;
    border-bottom: 1px solid #D40072;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 64px;
    color: #007bff;
}
.header-text p{
    margin-bottom: 1rem;
    font-size: 20px;
    margin-bottom: 3rem;
}

.header-text button{
    margin-top: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 27px;
    color: white;
    flex: none;
    align-self: center;
    margin: 0px 10px;
     padding-right: 4rem; 
     padding-left: 4rem; 
     padding-top: 1rem; 
     padding-bottom: 1rem; 
    border: none;
    background:#00BCD4;;
    border: 2px solid rgb(65, 3, 23);
    font-family: Poppins;
    border-radius: 50px;

}
.header-text button:hover{
    background: rgb(65, 3, 23) ;
    border: 2px solid #D40072;
    color: blue;
}
#remote{
    color:#D40072 ;
}
#rd{
    display: block;
    justify-content: center;
}
.down{
    padding-left: 3rem;
    max-width: 100%;
    display: block;
    justify-content: center;
}
.down p{
    margin-bottom: 1rem;
    font-size: 20px;
    margin-bottom: 3rem;
}
#rd img{
width: 40%;
justify-self: center;
}

.footer{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    color: black;
    font-size: 0.8rem;
}
.footer a{
    font-family: 'Grenze Gotisch', cursive;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding-bottom: 0.3rem;
    display: inline-block;
    margin-bottom: 2rem;
    border-bottom: solid 2px #00BCD4;;
}
.footer h3{
    font-size: 1.3rem;
    font-size: bold;
    margin-bottom: 1.5rem;
}
.footer button{
    padding: 0.8rem 1.6rem;
    background-color: #00BCD4;;
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
}

.footer div{
    width: 100%;
}
.footer input, textarea{
    background: #00BCD4;
    margin-bottom: 1rem;
    width: 80%;
    display:block;
    outline-width: 0;
    border: none;
    padding: 0.7rem 1.4rem;
    color: white;
}


@media only screen and (min-width: 992px) {
        .footer{
          flex-direction: row;
        }
        .footer div{
        width: 50%;
        }
        .soon-text{
            font-weight: 850;
    font-size: 55px;
        }
  }
  .soon{
   max-width: 1972px;
    height: 584px;
    background:#00BCD4 ;
  }
  .trial h5{
    font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 130%;
display: flex;

color: #212353;
  }
  .trial p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;  
    border: none;
  }
  .btn-2{
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    margin-left: 1.5rem;
  }
  .btn-1{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    background: #00BCD4;
    border-radius: 50px;
    border: none;
  }
  .soon-text{
    font-style: normal;
    font-weight: 950;
    font-size: 70px;
    line-height: 129px;
    color: #FFFFFF;    
  }
  .expectations p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 153%;
    letter-spacing: 0.005em;
    color: #3B4451;
    
  }
  .expectations h5{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #3B4451;
  }    
    